<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles.css" rel="stylesheet">
  <title>Contact Me!!!</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Me!</a></li>
    </ul>
  </nav>
  <h1>Contact Me</h1>
  <p>Come Come Don't be shy!!! Let me know something about yourself, maybe we can become friends</p>
  <form>
    <input type="text" placeholder="name?"/>
    <textarea placeholder="Tell me about yourself?"></textarea>
  </form>
</body>
</html>